*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all .3s;
  list-style: none;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@font-face {
  font-family: Supersell;
  src: url('../src/assets/fonts/KZSupercell-Magic.ttf');
}

body {
  margin: 0;
  font-family: Supersell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #FFAFBD 0%, #ffc3a0 100%);
  color: #fff;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  margin: 50px;
}